<div class="one">
  <div class="icon-bar">
    <%= link_to image_tag(('create_guin1.png'), :class => "edit_btn"), new_record_path %>
  </div>
</div>

<div class="three">
  <h1>Records</h1>
  <ul>
    <% @records.each do |record| %>
    <li>
      <%= link_to record.project_name, record %>
    </li>
    <% end  %>
  </ul>
</div>
