<h1>Records</h1>
<ul>
  <% @records.each do |record| %>
  <li>
    <%= link_to record.project_name, record %>
  </li>
  <% end  %>
</ul>

<%= button_to "Create New Record", new_record_path, method: :get %>
