/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // @import "bourbon";
 // @import "base/base";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0px;
}

li, a, button {
  font-family: monospace;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  text-decoration: none;
}

h1, h4, p {
  text-align: center;
  font-family: monospace;
  font-size: 76px;
  font-weight: 400;
  color: #111111;
}

h4 {
  text-align: left;
  margin-left: 20px;
  font-size: 50px;
}

p {
  text-align: left;
  margin-left: 40px;
  font-size: 30px;
}

.peng_profile {
  height: 40%;
  zoom: 0.6;
}

.peng_profile_2 {
  font-size: 30px;
}

.the_errors {
  list-style: none;
  font-size: 12px;
  zoom: 0.9;
}

.logo_link {
  cursor: pointer;
  margin-right: auto;
  color: #DDDDDD;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: #111111;
  align-items: center;
  padding: 13px 10% 10px 10%;

}

.logo {
  cursor: pointer;
  margin-right: auto;
  // order: 3;
  // margin-left: auto;
}

// nav {
//   order: 2;
// }

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
  color: #CCCCCC;
}

.nav_links li a:hover {
  color: #9999FF;
}

// .cta {
//   order: 2;
// }


button {
  padding: 9px 25px;
  background-color: rgba(256,256,256,1);
  color: #111111;
  // margin-left: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(160,160,210,0.6);
}

.background {
  padding: 0;
  margin: 0;
}

.background::after {
  content: "";
  background: url("bg1.png");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.container {
  margin: 20px 10%;
  display: flex;
  // justify-content: flex-start;
  // align-items: flex-start;
}

.guin_logo {
  width: 20px;
  // -webkit-animation: spin 5s infinite linear;
  // @-webkit-keyframes spin {
  //   0%   {-webkit-transform: rotate(0deg)}
  //   100% {-webkit-transform: rotate(360deg)}
}


// Style for individual pages
.one {
  // background: red;
  flex-direction: column;
  // align: left;
  // padding: 10px;
  margin: 20px;
}
.two {
  // background: blue;
  padding: 20px;
  margin: 0px 20px;
  width: auto;
  // border-style: solid;
}

.profile_pic {
  height: 400px;
  width: auto;
  padding: 20px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  background-color: white;
  background-image: linear-gradient(#D3FCF9, #CEC7E3);
  background-blend-mode: multiply;
  // border-style: solid;
  // border-width: medium;
  // height: 300px;
}

.three {
  // background: green;
  padding: 10px 30px;
  margin: 0px 10px;
}

.the_forms {
  flex-direction: column;
  margin: auto;
}

.new_scientist, .new_penguin, .new_colony, .new_record, .new_login, .edit_colony, .edit_penguin, .edit_record, .edit_scientist {
  justify-content: center;
  text-align: center;
}

// .new_colony {
//     justify-content: center;
//     text-align: center;
// }

label {
font-family: monospace;
font-size: x-large;
}

input {
  height: 40px;
  font-size: 30px;
  font-family: monospace;
  margin: 10px 0px;
}

// This fixes the buttons to the top
.icon-bar {
  display: flex;
  flex-direction: column;
  position: sticky;
  // position: fixed;   this is supposed to keep it in position but moves it right?
  // align-items: flex-end;
  // top: 30%;
  // -webkit-transform: translateY(-50%);
  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);
}


.icon-bar a {
  order: 1;
  // text-align: center;
  align-content: center;
  // padding: 16px;
  transition: all 0.3s ease;
  background: transparent;
  // border-style: solid;
  border-radius: 90px;
  // color: white;
  // font-size: 20px;
  overflow:hidden;
}

.icon-bar a:hover {
  box-shadow: 0 8px 20px 0;
  background: transparent;

}

.edit_btn {
  width: 100px;
  // height: 100%;
  // padding: 185px 186px 184px;
  // border-style: none;
  // object-fit: scale-down;
  // border-radius: 50%;
  // text-rendering: auto;
  // overflow:hidden;
  // background: #4679BD;
  // background: transparent;
  // background-image: url("/assets/edit_guin1-de3bf222eae68061f244a84da321239a6ea18cfcec4712005802a04bb7e0f7ed.png");
}

.profile_ul {
  list-style: none;
}

.profile {
  // display: flex;
  order: 2;
}
