// Place all the styles related to the Penguins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// li {
//   font-family: "Times New Roman", sans-serif;
//   font-weight: 400;
//   font-size: 16px;
//   color: #111111;
//   text-decoration: none;
// }

@import "bourbon";
@import "base/base";

.peng_img {
  text-align: center;
  height: auto;
  width: auto;
  max-height: 100px;
}

.cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.card {
  padding: 20px;
  border-radius: 10px;
  border-style: double;
  background-color: #f1f1f1;
  margin: 20px;
  text-align: center;
  display: inline-block;
  // min-width: 80px;
}

.card:hover {
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

.peng_name {
  font-family: monospace;
  font-size: 20px;
  font-weight: normal;
  display: block;
  margin-top: 10px;
  vertical-align: middle;
}

span.peng_name a {
  text-decoration: none;
}

span.peng_name a:hover {
  color: red;
}

span.peng_status {
  font-family: monospace;
  font-size: 10px;
}
