<h1> <%= @scientist.name %> </h1>

<h4>Age</h4>
<p> <%= @scientist.age %> </p>

<h4>Bio</h4>
<p> <%= @scientist.bio %> </p>

<h4>Records</h4>
<ul>
  <% @records.each do |record| %>
  <li>
    <%= link_to record.project_name, record %>  
  </li>
  <% end  %>
</ul>
