<div class="the_forms">
  <div class="the_title">
    <h1>Penguino</h1>
  </div>

<br>
  <h5>Click on a penguin to enter!</h5>

  <% if flash[:messages] %>
    <h5> (｡•́ ⌔ •̀｡) Oh no...  </h5>
      <ul>
          <li>
            <%= flash[:messages] %>
          </li>
      </ul>
  <% end %>

<div class="welcome_bttn">
  <%= link_to image_tag(('thumbnail.png'), class: "mama"), new_login_path %>
  <%= link_to image_tag(('bb_penguin.png'), class: "baby"), new_scientist_path %>
  <div class="welcome_bttn">
    <div class="login_label"><p>Login</p></div>
    <div class="register_label"><p>New User</p></div>
  </div>
</div>


</div>
