<div class="the_forms">
  <div class="the_title">
    <h1>Penguino</h1>
  </div>

  <% if flash[:messages] %>
    <h5> (｡•́ ⌔ •̀｡) Oh no...  </h5>
      <ul>
          <li>
            <%= flash[:messages] %>
          </li>
      </ul>
  <% end %>

<div class="welcome_bttn">
  <%= link_to image_tag('thumbnail.png'), new_login_path %>
  <%= link_to image_tag('bb_penguin.png'), new_scientist_path %>
  <!-- <div class="welcome_bttn">
    <div class="loginl_label"><p>Login</p></div>
    <div class="register_label"><p>New User</p></div>
  </div> -->
</div>


</div>
